{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="card cardquote bg-info">
            <div class="card-title">
                <h2>Quote of the Day</h2></hr>
            </div>
            <p class="card-text">{{random_quote.quote}}</p>
            <p>{{random_quote.author}}</p>
        </div>
  </div>
    <div class="container">
        <div class="row row-cols-md-3 g-4 mt-2">
            {% for post in posts%}
               <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <img class="rounded-circle media-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="">
                            <div class="post-metadata">
                                <a class="mr-2" href="#">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <h2><a class="card-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
