body {
  background-image: url(../images/background.avif);
  background-repeat: no-repeat;
  background-size: 1366px 768px;
  color: #333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.bg-steel {
  background-color: #001d3d;
}

.header .navbar-nav .nav-link {
  color: #fad643;
}

.header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: white;
  padding: 10px 20px;
  border: 1px solid #fdc500;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pitch-type {
  color: black;
}

a.pitch-title:hover {
  color: #428bca;
  text-decoration: none;
}

.pitch-content {
  white-space: pre-line;
}

.media-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.pitch-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #fdc500;
  font-weight: 700;
}

.pitch-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.text-muted {
  text-align: right;
}
